## ============================================================================
## Editor Temp Files
## ============================================================================

*~
~*
\#*
\#*\#
*.log

## ============================================================================
## R Files
## ============================================================================

.Rhistory
.RData
*.Rproj